
<% include ./partials/header %>

    

<section id="home">
    <div class="hero-section">
        <h1>Welcome to My Portfolio</h1>
        <p>Hello, I’m Zaheer Yaqoobi,a networking and security student,</p>
        <a href="/about" class="btn">Learn More About Me</a>
    </div>
</section>

<section id="highlights" class="container">
    <h2>Highlighted Projects</h2>
    <div class="project-cards">
        <div class="card">
            <h3>Project 1</h3>
            <p>A description of one of your recent projects, highlighting the technology stack and purpose.</p>
            <a href="/projects" class="btn">See More</a>
        </div>
        
        <div class="card">
            <h3>Project 2</h3>
            <p>Another project description to showcase your work, giving potential clients a look at your skills.</p>
            <a href="/projects" class="btn">See More</a>
        </div>
    </div>
</section>

<section id="contact" class="container">
    <h2>Get In Touch</h2>
    <p>If you’re interested in working together or just want to say hello, feel free to contact me.</p>
    <a href="/contact" class="btn">Contact Me</a>
</section>

<% include ./partials/footer %>




  
